services:
  backend-farmasnt:
    build:
      context: ./backend
    container_name: backend-farmasnt
    restart: always
    environment:
      # Formato LLAVE: VALOR (Nota el uso de : y sin comillas innecesarias a menos que haya caracteres raros)
      DATABASE_URL: "postgresql://postgres:D3v3%2Fop3R@postgres-principal:5432/farmasnt?schema=public"
      PORT: 6000
      NODE_ENV: "development"
      JWT_ACCESS_SECRET: "Supern0vat0s2026"
      JWT_REFRESH_SECRET: "Supern0vat0s2026"
      SEED_TENANT_NAME: "Demo Pharma"
      SEED_ADMIN_EMAIL: "admin@demo.local"
      SEED_ADMIN_PASSWORD: "Admin123!"
      SEED_PLATFORM_DOMAIN: "farmasnt.supernovatel.com"
      SMTP_HOST: "mail.supernovatel.com"
      SMTP_PORT: 465
      SMTP_SECURE: "true"
      SMTP_USER: "saas@supernovatel.com"
      SMTP_PASS: "if5u/WD9kZ"
      SMTP_FROM: "PharmaFlow <saas@supernovatel.com>"
    ports:
      - "6000:6000"
    networks:
      - red-interna

  frontend-farmasnt:
    build:
      context: ./frontend
    container_name: frontend-farmasnt
    restart: always
    environment:
      # Si tu frontend de React/Vite necesita la URL del backend:
      VITE_API_URL: "https://farmasnt.supernovatel.com/api" 
    ports:
      - "6001:6001"
    networks:
      - red-interna

networks:
  red-interna:
    external: true
