node_modules
dist

# Keep environment variables out of version control
.env

/src/generated/prisma

# NOTE: Do not ignore prisma/migrations. We deploy using `prisma migrate deploy`,
# which requires committed migrations.
