SELECT r.id, r.code, r.\
tenantId\, array_agg(p.code) as permissions FROM roles r LEFT JOIN role_permissions rp ON r.id = rp.\roleId\ LEFT JOIN permissions p ON rp.\permissionId\ = p.id WHERE r.code = 'TENANT_ADMIN' GROUP BY r.id, r.code, r.\tenantId\ ORDER BY r.\tenantId\;
