INSERT INTO role_permissions (\
roleId\, \permissionId\) SELECT r.id, p.id FROM roles r, permissions p WHERE r.\tenantId\ = '8648a044-80ae-40e7-8999-8c9faf871d79' AND r.code = 'TENANT_ADMIN' AND p.code = 'stock:manage' AND NOT EXISTS (SELECT 1 FROM role_permissions rp WHERE rp.\roleId\ = r.id AND rp.\permissionId\ = p.id);
