SELECT u.email, r.code as role_code, p.code as permission_code FROM users u JOIN user_roles ur ON u.id = ur.user_id JOIN roles r ON ur.role_id = r.id LEFT JOIN role_permissions rp ON r.id = rp.role_id LEFT JOIN permissions p ON rp.permission_id = p.id WHERE u.email = 'gaby@febsa.com' ORDER BY u.email, p.code;
