@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pf-primary: #0f172a;
  --pf-secondary: #334155;
  --pf-tertiary: #64748b;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-900 dark:bg-slate-900 dark:text-slate-100;
}
